@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(circle, #c084fc, #d8b4fe);
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.tk-main {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 100%;
  height: 100vh;
  max-width: 600px;
}
p {
  margin-bottom: 0px;
}
